.links {
  display: flex;
  font-size: 18px;
  gap: 20px;
}

.links .navigationlink {
  color: white;
  transition: color 0.5s ease;
}

.navigationlink:hover,
.navigationlink.active {
  color: #ff5e14;
}

.navigationlink.active {
  font-weight: bolder;
}
.navbar {
  /* border-radius: 10px; */
  /* background-color: rgba(
    0,
    0,
    0,
    0.3
  );  */
  backdrop-filter: blur(10px);
}

.searchform {
  align-items: center;
}

.login {
  border-radius: 30px;
  transition: transform 0.3s;
  background-color: #ff5e14;
  color: white;
}

.login:hover {
  background: transparent;
  border: 1px solid red;
}

@media (max-width: 992px) {
  .links {
    flex-direction: column;
  }

  .searchform {
    margin-top: 20px;
    /* padding: 20px; */
  }
}
