.links {
  display: flex;
  gap: 20px;
}

.links .navigationlink {
  color: white; 
  transition: color 0.3s ease;
}

.navigationlink:hover,
.navigationlink.active {
  color: #ff5e14;
}
.navbar {
  border-radius: 10px;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); 
  backdrop-filter: blur(10px);
}

.searchform {
  align-items: center;
}

@media (max-width: 992px) {
  .links {
    flex-direction: column;
  }

  .searchform {
    padding: 20px;
  }
}
