.headline {
  left: 130px;
}
.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}

#herosection {
  padding-left: 20px;
}
@media screen and (max-width: 800px) {
  #herosection {
    padding: 20px;

    margin-bottom: 50px;
  }
  .headline {
    left: 20px;
  }
  .clipped {
    clip-path: none;
    max-height: 300px !important;
  }
}
