.headline {
  left: 130px;
}
.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}

#herosection {
  padding-left: 20px;
}
@media screen and (max-width: 800px) {
  #herosection {
    padding: 20px;
    height: 700px;
    margin-bottom: 50px;
  }
  .headline {
    left: 20px;
  }
  .clipped {
    clip-path: none;
    max-height: 300px !important;
  }
}
/* .shopnow {
  background: #ff5e14;
  color: #fff;
  transition: all 0.55s ease;
}
.shopnow :hover {
  transform: translateX(8px);
} */

.shopnow {
  border-radius: 30px;
  transition: transform 0.3s;
  background-color: #ff5e14;
  color: white;
}

.shopnow:hover {
  transform: translateX(9px);
  background: transparent;
  border: 1px solid red;
  color: #ff5e14;
}

.shopnow-text {
  display: inline-block; /* Ensure proper positioning of the text */
}
